---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
  {
    date: "Jan 2021 - Present",
    title: "Freelance Visual Designer and Web Developer",
    company: "Self Employed",
    description:
      "Currently working as a freelance web designer and frontend developer, building high-performance websites using WordPress, Shopify, and Astro, with a strong focus on user experience, scalability, and conversion optimization.",
  },
  {
    date: "Jun 2019 - Jan 2020",
    title: "Web developer",
    company: "Global Consulting Factory",
    description:
      "For this internship, I created a restful API with nodejs, angular, express and used MongoDB as a database manager. It is a MEAN CRUD API, which describes its acronym: creating, reading, updating, and deleting data from the database. The project was made functionally without working on the design, using only angular and bootstrap in the front end.",
  },
    {
    date: "Feb 2019 - Sept 2019",
    title: "Web and social media designer Internship",
    company: "Salud y Familia AC",
    description:
      "I designed and developed a website for medical consultations. The user could pay for their consultation either online or in person (with different payment methods ranging from bank transfer to PayPal and others) and choose the calendar date (if available). I also designed the social media promotion posts for the organization.",
  },
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
      <Heading text="Work" textGradient="Experience" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
      <ol class="relative mt-10">
        {
          EXPERIENCE.map((experience, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`experience-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`experience-title-${index}`}
                >
                  <ExperienceItem {...experience} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
